/* adjust body when menu is open */
		body.slide-active {
		    overflow-x: hidden
		}
		.navbar-brand{
			/*position: fixed;*/
			float: left;
			color: #ffffff;
			/*left: 0px;*/
			padding: 5px 15px;
			margin-left: 40px;
		}
		.navbar-brand img{
			width: 30px;
			display: initial;
		}
		.navbar-inverse .navbar-brand{
			color: #ffffff;
		}
		/*first child of #page-content so it doesn't shift around*/
		.no-margin-top {
		    margin-top: 0px!important
		}
		/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
		#page-content {
		    position: relative;
		    margin-top: 74px;
		    left: 0;
		    z-index: 0;
		}
		#page-content.slide-active {
		    padding-top: 9px;
		}
		/* put toggle bars on the left :: not using button */
		#slide-nav .navbar-toggle {
		    cursor: pointer;
		    position: relative;
		    line-height: 0;
		    float: right;
		    margin: 0;
		    width: 30px;
		    height: 40px;
		    padding: 10px 0 0 0;
		    border: 0;
		    background: transparent;
		}
		/* icon bar prettyup - optional */
		#slide-nav .navbar-toggle > .icon-bar {
		    width: 100%;
		    display: block;
		    height: 3px;
		    margin: 5px 0 0 0;
		}
		#slide-nav .navbar-toggle.slide-active .icon-bar {
		    background: orange
		}
		.navbar-header {
		    position: relative
		}
		/* un fix the navbar when active so that all the menu items are accessible */
		.navbar.navbar-fixed-top.slide-active {
		    position: fixed
		}
		.nav  .hide-desk{
			display: none;
		}
		/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
		@media (max-width:767px) { 
			.nav  .hide-desk{
				display: block;
			}
			.navbar-header{
				text-align: center;
			}
			.navbar-brand{
				float: none;
				display: block;
				text-align: left;
				margin-left: 0px;
			}
			#slide-nav .container {
			    margin: 0;
			    padding: 0!important;
			}
			#slide-nav .navbar-header {
			    margin: 0 auto;
			    padding: 0 15px;
			}
			#slide-nav .navbar.slide-active {
			    position: absolute;
			    width: 50%;
			    right:0px;
			    top: -1px;
			    z-index: 1000;
			}
			#slide-nav #slidemenu {
			    background: #f7f7f7;
			    right: -100%;
			    width: 50%;
			    min-width: 0;
			    position: fixed;
			    padding-left: 0;
			    z-index: 2;
			    top: -8px;
			    margin: 0;
			}
			#slide-nav #slidemenu .navbar-nav {
			    min-width: 0;
			    width: 100%;
			    margin: 0;
			}
			#slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
			    min-width: 0;
			    width: 80%;
			    white-space: normal;
			}
			#slide-nav {
			    border-top: 0
			}
			#slide-nav.navbar-inverse #slidemenu {
			    background: #333;
			    top: 50px;
			}
			/* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
			#slide-nav #navbar-height-col {
			    position: fixed;
			    top: 0;
			    height: 100%;
			    width: 50%;
			    right: -50%;
			    background: #eee;
			}
			#slide-nav.navbar-inverse #navbar-height-col {
			    background: #333;
			    z-index: 1;
			    border: 0;
			    top: 50px;
			}
			#slide-nav .navbar-form {
			    width: 100%;
			    margin: 8px 0;
			    text-align: center;
			    overflow: hidden;
			    /*fast clearfixer*/
			}
			#slide-nav .navbar-form .form-control {
			    text-align: center
			}
			#slide-nav .navbar-form .btn {
			    width: 100%
			}
			a.back{
				display: block;
			}
		}
		@media (min-width:768px) { 
			.nav .hide-desk{
				display: none;
			}
			#page-content {
			    left: 0!important
			}
			.navbar.navbar-fixed-top.slide-active {
			    position: fixed
			}
			.navbar-header {
			    left: 0!important
			}
		}
		.nav_tabs{
			position: fixed;
			top: 50px;
			overflow-x: auto;
			z-index: 1;
			background-color: #ffffff;
		}
		.nav_tabs ul{
			list-style-type: none;
			width: 400%;
			margin: 0px;
			padding: 0px 20px;
		}
		.nav_tabs ul li{
			float: left;
			margin-right: 20px;
		}
		.nav_tabs ul li a{
			padding: 10px 5px 15px;
			display: block;
			text-decoration: none;
		}
		.back{
			float: left;
			padding: 15px 0px;
			color: #ffffff;
			display: block;
			display: none;
		}
		.container-fluid{
			padding-left: 0px;
			padding-right: 0px;
		}
		.quo_container{
			margin: 10px 0px;
			background-color: #f1f1f1;
			padding:15px 10px;
			position: relative;
		}
		.row_data ul{
			list-style-type: none;
			margin: 0px;
		}
		.input-container{
			float: left;
		}
		.text-container{
			float: right;
		}
		.input-container label{
			font-size: 16px;
			margin-left: 5px;
		}
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
			padding-left: 0px;
			padding-right: 0px;
		}
		.btn_vote{
			background-color: #dedede;
		    bottom: 20px;
		    right: 10px;
		}
		#slidemenu{
			float: right;
		}


.padd{
	padding: 30px 15px;
	overflow: hidden;
}

.md-padding {
	top:50px;
	padding: 10px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.login-items{
	margin-top: 16px;
    color: #9d9d9d;
    margin-right: 120px;
}

.dropdown-menu{
	margin-top: 12px;
}

.quo_container h3{
	margin: 0px 0px 16px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}


.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}

.btn-social-icon {
    margin-bottom: 4px;
}
html, body {
    height: auto;
    position: inherit;
}

.btn-social-icon>:first-child {
    border: none;
    text-align: center;
    width: 100% !important;
}

.btn-social-icon>:first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}

.add-quesion{
	background-color: rgba(255, 235, 59, 0.33);
	color: #000000;
	padding: 20px 40px;
	margin: 0 auto;
	border: 1px solid #000;
}

.quesion-container{
	margin-top:20px;
}

md-toast{
	z-index: 999999;
	position: fixed;
}

.vote-count{
	position: absolute;
    top: 55px;
    right: 23px;
    line-height: 36px;
    color: #fe5890;
    font-weight: bold;
}

.vote-count img{
	height: 28px;
}

.loading{
	display: block;
    margin: 30px auto;
}

.modal-content{
	box-shadow: none;
    border: none;

}

.text-center md-progress-circular{
	margin: 0 auto;
}

.modal-title{
	    color: white;
}
.md-button md-progress-circular{

    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;

}


.footer-bottom {
    background-color: #222222;
    min-height: 30px;
    width: 100%;
    padding-left: 20px;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
   
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px; width: 10px;}
  .sidenav a {font-size: 20px;}
  .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
}
}
#chartdiv {
  width: 100%;
  height: 500px;
}
#chartdiv1 {
  width: 100%;
  height: 500px;
}
#chartdiv2 {
  width: 100%;
  height: 500px;
}

#chartdiv3 {
  width: 150%;
  height: 500px;
  font-size: 11px;
}
#chartdiv4 {
  width: 100%;
  height: 500px;
  font-size: 11px;
}

#chartdiv5 {
  width: 100%;
  height: 500px;
  font-size: 11px;
}

#chartdiv6 {
  width: 100%;
  height: 500px;
  font-size: 11px;
}
.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}	