<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Add Your Question</h4>
</div>
<div  class="modal-content ">
    <form novalidate="novalidate" name="userForm" ng-submit="questionCreate(user)" class="padd">
          <md-input-container class="md-block">
            <label>Question</label>
            <input  type="text" name="quesion" ng-model="user.question" required>
            <div ng-messages="userForm.quesion.$error" ng-show="userForm.quesion.$dirty">
              <div ng-message="required">Enter your question!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Option 1</label>
            <input  type="text" name="option1" ng-model="user.answer_1" required>
            <div ng-messages="userForm.option1.$error" ng-show="userForm.option1.$dirty">
              <div ng-message="required">Enter your question!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Option 2</label>
            <input  type="text" name="option2" ng-model="user.answer_2" required>
            <div ng-messages="userForm.option2.$error" ng-show="userForm.option2.$dirty">
              <div ng-message="required">Enter your question!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Option 3</label>
            <input  type="text" name="option3" ng-model="user.answer_3" required>
            <div ng-messages="userForm.option3.$error" ng-show="userForm.option3.$dirty">
              <div ng-message="required">Enter your question!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Option 4</label>
            <input  type="text" name="option4" ng-model="user.answer_4" required>
            <div ng-messages="userForm.option4.$error" ng-show="userForm.option4.$dirty">
              <div ng-message="required">Enter your question!</div>
            </div>
            </md-input-container>
            <div>
            <h5 style="color:rgba(0,0,0,0.38);"> Category Type 
             <span>
                   <select ng-model="user.category_id" class="md-block"  required >
                     <option value="{{menu.id}}" ng-repeat="menu in menuData" ng-selected="true" >{{menu.name}}</option>
                   </select>
              </span> </h5>
            </div>
          <div>
            <md-button ng-disabled="!userForm.$valid" type="submit" class="md-raised md-primary pull-right">Submit<md-progress-circular  ng-if="loader" class="md-accent" md-diameter="20px"></md-progress-circular></md-button>
          </div>
    </form>
</div>

