<div class="quo_container" ng-init="myCinema()">
<h3>{{question.question}}</h3>
  <md-radio-group ng-model="group1" >
    <md-radio-button ng-if="question.answer_1" value="{{question.answer_1}}">{{question.answer_1}}</md-radio-button>
  </md-radio-group>
  <div ng-if="question.votes" class="vote-count">
  	<div ng-if="question.answer_1">
		<img src="images/vote.png" />
		<span>{{question.votes.answer1_count * 100/question.votes.total}} %</span>
	</div>
  </div>
<a href="" class="btn btn_vote" ng-click="vote(group1)" ng-if="!question.votes">Vote</a>
<a href="" class="btn btn_vote" ng-click="comment()">Comment</a>
<!-- <a href="" class="btn btn_vote" ng-click="getComments()">View Comments</a> -->
<!-- socialshare socialshare-provider="facebook" socialshare-text="{{question.question}}" socialshare-title="share" socialshare-hashtags="#brigadepoll, #questions" socialshare-url="http://brigadepoll.com/" -->
<a href="https://twitter.com/intent/tweet?text={{question.question}} ? For More info click here : http://Brigadepoll.com" class="btn btn-social-icon btn-twitter  twitter-share-button pull-right" data-show-count="false" data-text="custom share text" style="background:#337ab7;margin-left:2px;"><span class="fa fa-twitter" style="color: white"></a>
<a href="whatsapp://send?text=Brigadepoll.com" class="btn btn-social-icon btn-facebook pull-right" data-action="share/whatsapp/share" style="background: #15a6a6;margin-left:2px;"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
<!-- <a class="btn btn-social-icon btn-facebook pull-right" ng-click="share()" style="margin-left:2px"><span class="fa fa-twitter"></span></a> -->
<a class="btn btn-social-icon btn-facebook pull-right" ng-click="sharetwitter()"><span class="fa fa-facebook"></span></a>
</div>
