<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Comment</h4>
</div>
<div  class="modal-content ">
    <form novalidate="novalidate" name="commentForm" ng-submit="commentCreate(comment)" class="padd">
          <input type="hidden" name="questionid" ng-model="comment.question_id">
          <md-input-container class="md-block">
            <label>Comment</label>
            <textarea ng-model="comment.comment" required>
              
            </textarea>
            <div ng-messages="commentForm.comment.$error" ng-show="commentForm.comment.$dirty">
              <div ng-message="required">Comment is required!</div>
            </div>
          </md-input-container>
          <div>
            <md-button ng-disabled="!commentForm.$valid" type="submit" class="md-raised md-primary pull-right">Submit<md-progress-circular  ng-if="loader" class="md-accent" md-diameter="20px"></md-progress-circular></md-button>
          </div>
    </form>
</div>
<!-- <div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Comments</h4>
</div> -->
<h4 class="modal-title text-center">Recent Comments</h4>
<div  class="modal-content " style="padding-bottom: 20px;">
    <ul>
      <li ng-repeat="comment in comments">{{comment.name}} : {{comment.comment}}</li>
    </ul>
    <div class="text-center" ng-if="comments.length==0">No comments found.</div>
</div>

