<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Comments</h4>
</div>
<div  class="modal-content " style="padding-bottom: 20px;">
    <ul>
      <li ng-repeat="comment in comments">{{comment.comment}}</li>
    </ul>
    <div class="text-center" ng-if="comments.length==0">No comments found.</div>
</div>

