<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Please Login</h4>
</div>
<div  class="modal-content ">
    <form novalidate="novalidate" name="userForm" ng-submit="login(user)" class="padd">
          <md-input-container class="md-block">
            <label>Email</label>
            <input  type="email" name="email" ng-model="user.email" required>
            <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
              <div ng-message="required">Email is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required />
            <div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty">
              <div ng-message="required">Password is required!</div>
            </div>
          </md-input-container>
          <div>
            <md-button ng-disabled="!userForm.$valid" type="submit" class="md-raised md-primary pull-right">Submit <md-progress-circular  ng-if="loader" class="md-accent" md-diameter="20px"></md-progress-circular></md-button>
            <a ng-click="signUpModel()"><u>Not Registered Click here</u></a><br>
            <a ng-click="forgotModel()"><u>Forgot Password</u></a>
          </div>
    </form>
</div>

