<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav" >
  <div class="container-flued">
   <div class="navbar-header">
    <a class="navbar-toggle"> 
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </a>
	  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
    <a class="navbar-brand" href="#!/">
	<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776</span>
      <img src="images/logo.png" >
      <span>Tech Matrix</span>
    </a>
   </div>
   <div id="slidemenu">
    <ul class="nav navbar-nav"  ng-init="loadJs()">
     <li><a  href="#!/">Contact Us</a></li>
     <li><a  href="#!/">FAQ's</a></li>
     <li ng-click="loginModel()" ng-show="!login"><a >Login</a></li>
     <li><a  ng-click="signUpModel()" ng-show="!login">SignUp</a></li>
     <li class="hide-desk" ng-show="login"><a ng-click="myQuestions()">My Quesion</a></li>
     <li class="hide-desk" ng-show="login"><a  ng-click="logOut()">Logout</a></li> 
     <!-- <li><a href="#contact">Contact</a></li> -->
    </ul>
    <div class="btn-group login-items hidden-xs" role="group" ng-show="login"> 
      <div id="login" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{global.name}} <span class="caret"></span> </div> 
      <ul class="dropdown-menu " aria-labelledby="login"> 
        <li><a ng-click="myQuestions()">My Quesion</a></li>
        <li><a  ng-click="logOut()">Logout</a></li> 
      </ul> 
    </div>
          
   </div>
  </div>
 </div>
  <div class="" >
    <md-content class="md-padding">
      <md-nav-bar
        md-selected-nav-item="currentNavItem" 
        nav-bar-aria-label="navigation links" ng-model="currentNavItem">
        <md-nav-item md-nav-click="goto(menu.id)" name="{{menu.id}}" ng-repeat="menu in menuData">
         {{menu.name}}
        </md-nav-item>
      </md-nav-bar>
    </md-content>
  </div>
  
  <!--wrap the page content do not style this-->
 <div id="page-content">
<div class="container">
  <div class="row row_data text-center">
    <div class="col-md-12 add-quesion">
      If you have any questions  
      <!-- <a href=""  ng-click="addQuesion()">
        
      </a> -->
      <md-button ng-click="addQuesion()" class="md-raised md-primary">Create Poll</md-button>
    </div>
  </div>
  <div class="row">
  
  <div class="col-md-6" id="chartdiv" ></div>
  <div class="col-md-6" id="chartdiv1" ></div>
  <div class="col-md-6" id="chartdiv2" ></div>
  <div class="col-md-6" id="chartdiv3" ></div>
  <div class="col-md-6" id="chartdiv4" ></div>
  <div class="col-md-6" id="chartdiv5" ></div>
  <div class="col-md-6" id="chartdiv6" ></div>
  
  </div>
</div>
</div>

  
 
 <script>
function openNav() {
 if (window.matchMedia('(min-width: 767px)').matches) {
       document.getElementById("mySidenav").style.width = "250px";
       document.getElementById("main").style.marginLeft = "250px";
    }
	else{
    document.getElementById("mySidenav").style.width = "40%";
    document.getElementById("main").style.marginLeft = "40%";
	}
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>


 <!-- /#page-content -->
 <div class="footer-bottom" >

  <div class="container-flued">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

          © 2017. All rights reserved. Powered by TechMatrix. 

        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">

           

        </div>

      </div>

    </div>

  </div>

</div>