<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title text-center">Sign Up</h4>
</div>
<div  class="modal-content ">
    <form novalidate="novalidate" name="userForm" ng-submit="signUp(user)" class="padd">
          <md-input-container class="md-block">
            <label>Email</label>
            <input  type="email" name="email" ng-model="user.email" required>
            <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
              <div ng-message="required">Email is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required />
            <div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty">
              <div ng-message="required">Password is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>First name</label>
            <input type="text" name="first_name" ng-model="user.first_name" required />
            <div ng-messages="userForm.first_name.$error" ng-show="userForm.first_name.$dirty">
              <div ng-message="required">First name is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Last name</label>
            <input type="text" name="last_name" ng-model="user.last_name" required />
            <div ng-messages="userForm.last_name.$error" ng-show="userForm.last_name.$dirty">
              <div ng-message="required">Last name is required!</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Mobile number</label>
            <input type="number" name="phone" ng-model="user.phone" required />
            <div ng-messages="userForm.phone.$error" ng-show="userForm.phone.$dirty">
              <div ng-message="required">Mobile number is required!</div>
            </div>
          </md-input-container>

          <div>
            <md-button ng-disabled="!userForm.$valid" type="submit" class="md-raised md-primary pull-right">Submit<md-progress-circular  ng-if="loader" class="md-accent" md-diameter="20px"></md-progress-circular></md-button>
            <a  ng-click="loginModel()" ng-show="login"><u>Click here to Login</u></a>
          </div>
    </form>
</div>
